background/
fill: #EDF0FF;
ou
background: #EDF0FF;

page 1 
 
    fond menu/
width: 685px;
height: 25px;
flex-shrink: 0;

fill: #AEB5D9;
stroke-width: 1px;
stroke: #181F42;

    trait menu/
width: 25px;
height: 0px;
transform: rotate(90deg);
flex-shrink: 0;

stroke-width: 1px;
stroke: #181F2;


    texte acceuil, oeuvre, contact/
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 80% */
letter-spacing: 0.1px;

display: flex;
width: 215px;
height: 25px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

    a propos de nous/
width: 370px;

color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 106.667% */
letter-spacing: 0.075px;

    fond a propos de nous/
 width: 165px;
height: 28px;
flex-shrink: 0;

fill: #AEB5D9;

    texte à propos/
color: #000;
text-align: right;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 100% */

display: flex;
width: 260px;
height: 123px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

    photo/
width: 215px;
height: 126px;
flex-shrink: 0;

    texte newsletter/
display: flex;
width: 370px;
height: 28px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 106.667% */
letter-spacing: 0.075px;

    fond newsletter/
width: 115px;
height: 28px;
flex-shrink: 0;

fill: #AEB5D9;

    contenu newsletter/
    inscrivez-vous
display: flex;
width: 211px;
height: 14px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;

    prenoms/
display: flex;
width: 59px;
height: 16px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #FFF;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 160% */
letter-spacing: 0.05px;

    box prenoms/
width: 70px;
height: 12px;
flex-shrink: 0;

border: 1px solid #AEB5D9;
background: #FFF;

    adresse mail/
display: flex;
width: 79px;
height: 12px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #FFF;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 160% */
letter-spacing: 0.05px;

    box mail/
display: flex;
width: 79px;
height: 12px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #FFF;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 160% */
letter-spacing: 0.05px;

    bouton fond/
width: 82px;
height: 18px;
flex-shrink: 0;

    bouton texte/
fill: rgba(24, 31, 66, 0.75);
display: flex;
width: 66px;
height: 16px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;

    mention obligatoire/
width: 71px;

color: #556AD4;
font-family: Inter;
font-size: 6px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 266.667% */
letter-spacing: 0.03px;


page 3 

    nous contacter/
display: flex;
width: 197px;
height: 20px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 100% */
letter-spacing: 0.08px;

    fond nous contacter/
width: 164px;
height: 28px;
flex-shrink: 0;


.formulaire{
    font-family:arial;
    font-size:14px;}

form{  
    background-color: #AEB5D9;
    width:400px;
    padding-left:20px;
    padding-top:20px;
    border:2px solid grey;
}

th{  
    background-color: #AEB5D9;
    font-weight: bold;
    font-size:50px;
    padding:10px;
    text-align:center;
}

input:not(#bouton){ 
    padding:1%; 
    margin-top:1px;
    margin-bottom:1px;
    margin-left:140px;

}

legend{
    margin-top:-30px;
    margin-left:-10px;
    background-color: #1B553A;
    color:white;
    font-style:italic;
    font-size:18px;
    width:120px;
    text-align:center;
}


/*plan*/ 
width: 206px;
height: 116px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;



/*adresz: 10...*/ 
display: flex;
width: 215px;
height: 126px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #000;
text-align: right;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;



/*marging + taille sur les 4 logos*/ 
logo1
width: 60px;
height: 34px;
flex-shrink: 0;


logo2
width: 60px;
height: 34px;
flex-shrink: 0;

logo3
width: 80px;
height: 34px;
flex-shrink: 0;

logo4
width: 58px;
height: 34px;
flex-shrink: 0;


/*modigliani*/      AJOUTER UN background
display: flex;
width: 105px;
height: 28px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 106.667% */
letter-spacing: 0.075px;

/*picasso*/
display: flex;
width: 370px;
height: 40px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 106.667% */

/*pascin*/
display: flex;
width: 685px;
height: 28px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 106.667% */

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
















