/*généraités*/

body{
    background: #EDF0FF;
    font-family: inter;
    padding:0 ;
    marging:0;

}

h1{
    color:white;
}

h2{
    color:#181F42;
}

h3{
    color: #AEB5D9;
    text-decoration: underline;
}


p5{
   background-color: #AEB5D9; 
   font-weight: bold;
   color: white;
   font-size: 32px;
   line-height: 100px;
   margin-left: 40%;
}


p1{
    color:black;

}

p2{
    color:white;

}

p3{
    color:#556AD4;
    font-size: 12px;
}


p4{
    color:#AEB5D9;
}



/*photo batiment*/


img{
    width: 215px;
    height: 126px;
    flex-shrink: 0;
}

header img{
    width: 100%;
    vertical-align: middle;
    height: 400px;
}

/*page1*/
 

    /*menu*/


nav ul li a{
   color: white;
   text-align: center;
   font-size: 30px;
   width:100%;
   background-color:#AEB5D9;
   margin-left:210px;
   padding:2px 10px;
}

nav{  
   background-color: #AEB5D9;
   line-height:8px;
   width:100%;
   display:inline-block;
   height:60px;
}

nav ul li{  
   margin:10px;
   display:inline-block;
   height: 25px;
}

nav ul li a:hover{
   background-color:#AEB5D9;
   color:#181F42;
   padding:17px;
}

#menu {
position: fixed;
top:0%;
width: 100%;
overflow: hidden;}


   /*a propos de nous*/


h1{  
   background-color:#AEB5D9 ;
   max-width:350px;
   margin:auto;
   margin-top:50px;
   text-align:center;
   height:50px;
   line-height: 50px;
}


    /*texte à propos*/


p1{

text-justify: none;
text-align: right;

}



    /*formulaire newsletter*/


.formulaire2{
    font-size:14px;
}

form{  
    background-color: #AEB5D9;
    width:400px;
    padding-left:20px;
    padding-top:20px;
    border:2px solid grey;
}

th{  
    background-color: #AEB5D9;
    font-weight: bold;
    font-size:50px;
    padding:10px;
    text-align:center;
}

input:not(#bouton){ 
    padding:1%; 
    margin-top:1px;
    margin-bottom:1px;
    margin-left:140px;

}

legend{
    margin-top:-30px;
    margin-left:-10px;
    background-color: #1B553A;
    color:white;
    font-style:italic;
    font-size:18px;
    width:120px;
    text-align:center;
}
#droitecliquez {
    background-color:#181F42;
}



     /*texte à propos*/


#zone-gauche{
   height:10px;
   float: left;
   padding:10px;
   height:100px;
   width:450px;
   margin-top:-40px;
   margin-left: 40px;
}


#zone-gauche #batiment{     
   padding:-10px;
   float:left;
   width: 100%;
   height: 200px;
   flex-shrink: 0;
}

#zone-gauche #batiment img{ 
   padding:50px;
   float:left;
   width: 100%;
   height: 250px;
   flex-shrink: 0;
}

#zone-droite {
    font-size: 22px;
Height : 100%;
Float : Right;
Padding : 200px;
Padding-top : 40px;
}

#zone-droite #àpropos{
    margin-right: 50px;
   line-height: 16px; 50% 
   display: flex;
   width: 450px;
}


/*page 2*/

    /*image*/

        /*modigliani*/

            /*oeuvre 1*/

#bloc1{
    background-image: url("images/fillette.en.bleu.JPG");
    width: 160px;
    height:auto;
    background-size: 160px auto;
    margin-top: 10px;
    position: absolute;
}

#bloc2{
    width: 160px;
    height: 50px;
    background-color: #181F42;  
    opacity:60%;
    margin:80px;
    margin-left: 1px;
    text-align: left;

    visibility: hidden;


}

#bloc1:hover #bloc2 {
    visibility: visible;
}

            /*oeuvre 2*/

#bloc3{
    margin-left: 300px;
    background-image: url("images/madame.pompadour.JPG");
    width: 160px;
    height:auto;
    background-size: 160px auto;
    margin-top: 10px;
    position: absolute;
}

#bloc4{
    width: 160px;
    height: 50px;
    background-color: #181F42;  
    opacity:60%;
    margin:80px;
    margin-left: 1px;
    text-align: left;

    visibility: hidden;


}

#bloc3:hover #bloc4 {
    visibility: visible;
}

        /*picasso*/

            /*oeuvre 3*/

#bloc5{
    background-image: url("images/deux.filles.lisant.jpg");
    width: 110px;
    height: auto;
    background-size: 160px auto;
    margin-top: 50px;
    position: absolute;
}

#bloc6{
    width: 160px;
    height: 50px;
    background-color: #181F42;  
    opacity:60%;
    margin:80px;
    margin-left: 1px;
    text-align: left;

    visibility: hidden;


}

#bloc5:hover #bloc6 {
    visibility: visible;
}

            /*oeuvre 4*/

#bloc7{
    margin-left: 300px;
    background-image: url("images/tete.de.femme.endormie.JPG");
    width: 160px;
    height:auto;
    background-size: 160px auto;
    margin-top: 10px;
    position: absolute;
}

#bloc8{
    width: 160px;
    height: 50px;
    background-color: #181F42;  
    opacity:60%;
    margin:80px;
    margin-left: 1px;
    text-align: left;

    visibility: hidden;


}

#bloc7:hover #bloc8 {
    visibility: visible;
}

        /*pascin*/

            /*oeuvre 5*/

#bloc9{
    background-image: url("images/deux.creole.JPG");
    width: 160px;
    height:auto;
    background-size: 160px auto;
    margin-top: 10px;
    position: absolute;
}

#bloc10{
    width: 160px;
    height: 50px;
    background-color: #181F42;  
    opacity:60%;
    margin:80px;
    margin-left: 1px;
    text-align: left;

    visibility: hidden;


}

#bloc9:hover #bloc10 {
    visibility: visible;
}


            /*oeuvre 6*/

#bloc11{
    margin-left: 300px;
    background-image: url("images/temple.of.beauty.JPG");
    width: 160px;
    height:auto;
    background-size: 160px auto;
    margin-top: 10px;
    position: absolute;
}

#bloc12{
    width: 160px;
    height: 50px;
    background-color: #181F42;  
    opacity:60%;
    margin:80px;
    margin-left: 1px;
    text-align: left;

    visibility: hidden;


}

#bloc11:hover #bloc12 {
    visibility: visible;
}








/*page 3*/ 


#zone-gauche2 {

Height : 10px;
Float : left;
Padding : 10px;
Height : 100px;
Width : 450px;
Margin-left : 70px;
margin-top: 35px;
}

#zone-gauche2 #formulaire1{
Padding : -10px;
Float : left;
Width : 100%;
Height : 200px;
Flex-shrink : 0;
}

#zone-droite2 {
Height : 100%;
Float : Right;
Padding : 200px;
Padding-top : 40px;
}

#zone-gauche #plan{
padding: -10px;
float: right;
width: 100%;
height: 200px;
flex-shrink:0;
}


    /*formulaire contact*/
.formulaire1{
    font-size:14px;
}



form{  
    background-color: #AEB5D9;
    width:400px;
    padding-left:20px;
    padding-top:20px;
    border:2px solid grey;
}

th{  
    background-color: #AEB5D9;
    font-weight: bold;
    font-size:50px;
    padding:10px;
    text-align:center;
}

input:not(#bouton){ 
    padding:1%; 
    margin-top:1px;
    margin-bottom:1px;
    margin-left:140px;

}

legend{
    margin-top:-30px;
    margin-left:-10px;
    background-color: #1B553A;
    color:white;
    font-style:italic;
    font-size:18px;
    width:120px;
    text-align:center;
}

#droitecliquez {
    background-color:#181F42;
}

    /*texte contact*/


#plan{
    width: 430px;
    height: auto;}




    /*bas de page*/

#logo1{
    width: 60px;
    height: 34px;

}

#logo2{
    width: 60px;
    height: 34px;

}

#logo3{
    width: 80px;
    height: 34px;

}

#logo4{
    width: 80px;
    height: 34px;

}

footer{
    margin-top: 100%;
    color: #FFF;
    background-color: #181F42;
    text-align: center;
    height: 100px;
}



